* {
    font-family: "Times New Roman", sans-serif;
}
.home-main {
    font-size: 20px;
    text-align: center;
}
.recipe-list {
    font-size: 30px;
    text-align: center;
    list-style: none;
}
.home-photo {
    height: auto;
    width: 500px;
    display: block;
    margin: auto;
}
.steamed-egg-title h1 {
    color: red;
}